*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial;
  transition: all 0.5s ease; 
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(252, 122, 122) rgb(252, 122, 122);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.75rem;
}

*::-webkit-scrollbar-track {
  background: #f1a76f;
  border-radius: 1.25rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(252, 122, 122);
  border-radius: 1.25rem;
  border: 0.188rem solid rgb(252, 122, 122);
}
body{
  background: rgb(252, 122, 122);
  background: linear-gradient(150deg, #f1a76f 10%, rgb(255, 240, 222) 20%, #f3d3ba  30%);
  transition: .5s ease-in-out;
}
a{
  text-decoration: none;
  color: rgb(247, 245, 245);
}
.logo{
  width: 5rem;
  margin: 1rem;
  position: fixed;
  z-index: 1000;
}
.limit-width{
  max-width: 64rem;
  margin: 0 auto;

}
.section-banner{
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.range-bg-bottom{
  z-index: 2;
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 40%;
  background-image: url(./img/mesa-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3.125rem 3.125rem 3.125rem 3.125rem;
}
.range-bg-top{
  z-index: -100;
  position: absolute;
  height: 40%;
  top: 0;
  width: 100%;
  background-image: url(./img/guia-iluminacao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 0 0 3.125rem 3.125rem;
}

.banner{
  position: relative;
  display:flex;
  width: 100%;
}
.banner-foto-marco{
  overflow: hidden;
  width: 50%;
  min-width: 23.75rem;
  height: 25rem;
  max-width: 43.75rem;
  z-index: 1;
  position: absolute;
  top:50%;
  left:30%;
  transform: translate(-50%, -70%)
}
.banner-foto-marco .img-marco-desktop{
  width: 31.25rem;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.banner-text{
  width: 25rem;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%)
}
.banner-text h1{
  font-size: 4rem;
  color: #fd3700;
  text-shadow: 2px 2px 3px #6e0000;
}
.banner-text ul{
  display: flex;
  overflow: hidden;
  width: 20.938rem;
}
.banner-text ul li:first-child{
  padding-right: 4.3rem;
  color: rgb(243, 239, 7);
  text-shadow: 2px 2px 3px #cc2b03;
}
.banner-text ul li:last-child{
  color: #fc0000;
  text-shadow: 2px 2px 3px rgb(247, 242, 0);
}
.banner-text ul li{
  font-weight: bold;
  text-transform: uppercase;
  list-style-type: none;
  color: #733e31;
  font-size: 3rem;
  animation: anime-titulo 7s ease-in-out infinite alternate;
}
.banner-text .list-img li img{
  max-width: 20.625rem;
}

@keyframes anime-titulo {
  from{
    transform: translateX(0);
  } 
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  45%{
    transform: translateX(1.25rem);
  }
  55% {
    transform: translateX(-25.625rem);
  }
  60% {
    transform: translateX(-24.375rem);
  }
  70% {
    transform: translateX(-24.375rem);
  }
  80% {
    transform: translateX(-24.375rem);
  }
  90% {
    transform: translateX(-24.375rem);
  }
  to {
    transform: translateX(-24.375rem);
  }
}

.content{
  margin: 9.375rem 0;
  padding: 3.125rem;
  color: rgb(44, 1, 1);
  transition: .5s ease-in-out;
}
.content .content-farofa{
  margin: 1.875rem 0;
}
.content .content-farofa h2{
  padding: 1rem;
  line-height: 3rem;
  border-top: 2px solid #cc2b03;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0.938rem 0;
}
.content .content-farofa>p{
  padding: 0 1rem;
  font-size: 1rem;
  margin-bottom: 1.25rem;
}
.content .content-farofa>p a{
  color: rgb(173, 4, 4);
}
.content .content-farofa h3{
  padding: 1rem;
}
.content-img{
  margin-bottom: 3.125rem;
  display: flex;
  justify-content: space-around;
}
.content-img img{
  max-width: 25rem;
  border-radius: 3.125rem 0 3.125rem 3.125rem;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
}
.nav-img{
  gap: 2rem;
  padding: 0.625rem;
  margin: 0.938rem 0;
  display: flex;
  justify-content: space-around;
}
.nav-img div{
  box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.5);
  width: 15.625rem;
  min-width: 15.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem 0 1.875rem 1.875rem;
  overflow: hidden;
  background-color: rgb(66, 1, 1);
  transition: all 0.5s;
}
.nav-img div:hover{
  transform: scale(1.07);
}
.nav-img div a p{
  padding: 1.25rem 0.938rem;
  font-size: .9rem;
  font-weight: bold;
}
.nav-img div a{
  transition: all 0.5s;
  position: relative;
}
.nav-img div a img{
  width: 100%;
  height: 78%;
}
.nav-img div a:hover::before{
  bottom: 0;
  text-align: center;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  line-height: 6rem;
  content:"Clique Para ver Mais";
  height: 30%;
  width: 100%;
  background-color: #fa3a3a;
  opacity: .9;
}

footer{
  width: 100%;
  background: rgb(66, 1, 1);
  color: antiquewhite;
  padding-top: 2rem;
  position: relative;
  padding-bottom: 7rem;
  display: flex;
  justify-content:center;
}
footer a{
  color: white;
}
.section-footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.section-footer .text-container{
  max-width: 23rem;
}
.text-container{
  width: 90%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.text-container h2{
  margin-top: .5rem;
  padding: .5rem;
}
.text-container p{
  padding: .5rem
}
.text-container h3{
  padding: .5rem;
}

iframe{
  width: 100%;
  margin: .5rem 0;
}

.perfil-container .perfil{
  display: flex;
  align-items: center;
}

.image-perfil{
  margin: .5rem;
  width:6rem;
  height: 6rem;
  border-radius: 50%;
  border: 4px solid rgb(151, 0, 0);
}

.github{
  background: rgb(0, 0, 0);
  border-top: 1px solid #5c4201;
  padding: 2rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 940px){
  .content{
    padding: 3.125rem 0.313rem;
  }
}
@media screen and (max-width: 850px){
  .banner-foto-marco{
    transform: translate(-50%, -60%)
  }
  
  .banner-foto-marco .img-marco-desktop{
    width: 100%;
  }
  .banner-text{
    width: 15.625rem;
  }
  .banner-text h1{
    font-size: 2.5rem;
  }
  .banner-text ul{
    display: flex;
    overflow: hidden;
    width: 15.625rem;
  }
  .banner-text ul li{
    font-size: 2.2rem;
    animation: anime-titulo 7s ease-in-out infinite alternate;
  }
  /* .banner-text ul li:first-child{
    padding-right: 1.3rem;
  } */
  @keyframes anime-titulo {
    from{
      transform: translateX(0);
    } 
    10% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(0);
    }
    45%{
      transform: translateX(1.25rem);
    }
    55% {
      transform: translateX(-20.625rem);
    }
    60% {
      transform: translateX(-19.375rem);
    }
    70% {
      transform: translateX(-19.375rem);
    }
    80% {
      transform: translateX(-19.375rem);
    }
    90% {
      transform: translateX(-19.375rem);
    }
    to {
      transform: translateX(-19.375rem);
    }
  }
  
  .banner-text .list-img li img{
    max-width: 15rem;
  }
  .content-img{
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .content-img img{
    max-width: 28.125rem;
  }
  .nav-img{
    margin: 0 auto;
    overflow-x: scroll;
    max-width: 37.5rem;
    justify-content: flex-start;
  }
  .nav-img div{
    width: 15.625rem;
    min-width: 15.625rem;
    margin: 0.625rem;
  }
  .section-footer{
    flex-direction: column;
  }
  
  iframe{
    margin: 2rem auto;
    height: 21.25rem;
  }
}

@media screen and (max-width: 475px){
  .content-img img{
    max-width: 16.875rem;
  }
  .content .content-farofa h2{
    padding: 0.625rem 3.75rem 0 0;
  }
  .content .content-farofa>p{
    padding: 0;
  }
  .content .content-farofa h3{
    padding: 0.625rem 0;
  }
  .banner-foto-marco{
    width: 22.5rem;
    min-width: 18.75rem;
  }
  .banner-text{
    top: 50%;
    left: 55%;
    transform: translate(-50%, -35%)
  }
  .nav-img{
    padding: 0.313rem 0;
  }
  .section-footer>.text-container{
    padding: 0;
  }
}
